:root {
  --branding-color: #9d73f8;
  --secondary-color: #fbf7f7;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--heading-font-family);
}

p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
}

.hero h1 {
  font-weight: bold;
  font-size: 96px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: #272142;
  margin: 0;
}

.hero h2 {
  color: #272142;
  font-weight: 400;
  font-size: 24px;
  font-family: var(--default-font-family);
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.btn-branding {
  font-family: var(--default-font-family);
  background-color: var(--branding-color);
  color: white;
  padding: 15px 30px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-content {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 15px 30px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 27px;
}

.text-content {
  padding-top: 50px;
}
.content {
  margin: 35px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content p {
  font-size: 16px;
  line-height: 30px;
  padding: 0;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
}

.weather-project,
.translation-project {
  padding-top: 100px;
}

nav {
  padding: 20px 0;
}

nav ul  {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 13px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-family: var(--default-font-family);
  font-weight: bold;
}

nav li.active a,
nav li:hover a {
  color: var(--branding-color);
}

.logo {
  max-height: 40px;
}
@media (max-width: 767px) {
  .weather-project,
  .translation-project {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
    padding-top: 5px;
  }

  .row {
    text-align: center;
  }

  .btn-branding-content {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 22px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .container {
    text-align: center;
  }

  .btn-branding {
    margin-top: 10px;
  }

  @media (max-width: 1199px) {
    .btn-branding-content {
      margin-top: 15px;
    }
  }
}
